<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head.ejs")%>
<body>
   <%-include("./partials/header.ejs")%>
    <main class="index__main">
        <div class="home__carrousel">
            <ul>
                <li> <img src="/images/banner1.jpg"></img></li>
                <li><img src="/images/freddy.jpg" ></img></li>
                <li><img src="/images/ps4.jpg" ></img></li>
                <li><img src="/images/heman.jpg"></img></li>
            </ul>
          </div>
       <h4>Productos destacados</h4>
        <section>
            <article>
                <img id="img1" src="/images/heman.jpg" alt="">
                    <div>
                        <p>Descripción de producto</p>
                        <p>$100,00</p><a href="/productos/detalles">Ver más</a>
                    </div>
                </img>
            </article>
            <article>
                <img id="img2" src="/images/hollow.jpg" alt="">
                    <div>
                        <p>Descripción de producto</p>
                        <p>$100,00</p><a href="/productos/detalles">Ver más</a>
                    </div>
                </img>
            </article>
            <article>
                <img  id="img3"src="/images/halo-1.jpg" alt="">
                    <div>
                        <p>Descripción de producto</p>
                        <p>$100,00</p><a href="/productos/detalles">Ver más</a>
                    </div>
                </img>
            </article>
            <article>
                <img id="img4" src="/images/freddy.jpg" alt="">
                    <div>
                        <p>Descripción de producto</p>
                        <p>$100,00</p><a href="/productos/detalles">Ver más</a>
                    </div>
                </img>
            </article>
            <article>
                <img id="img5" src="/images/batman.jpg" alt="">
                    <div>
                        <p>Descripción de producto</p>
                        <p>$100,00</p><a href="/productos/detalles">Ver más</a>
                    </div>
                </img>
            </article>
            <article>
                <img id="img6" src="/images/dethstroke.jpg" alt="">
                    <div>
                        <p>Descripción de producto</p>
                        <p>$100,00</p><a href="/productos/detalles">Ver más</a>
                    </div>
                </img>
            </article>
        </section>
        <div class="index__banner2__div">
        <img class="index__banner2" src="/images/banner2.jpg"></img>
        <p>Seccion de computadoras</p>
          </div>
        </main>
       
        <script src="./js/main.js"></script>  
          <%-include("./partials/footer.ejs")%>
</body>
</html>