<footer class="footer-body">
    <section class="section-redes">
        
        <div class="footer-contacto">
            
            <article class="footer-iconos">
            <a href="">Soporte</a>
            <img class="img-soporte" src="/images/icons8-mensaje-48.png" alt="">
            <img class="img-soporte" src="/images/icons8-mensaje-48.png" alt="messenge">
        </article>
        <article class="footer-iconos">
            <a  href="">Contacto</a>
            <img class="img-contacto" src="/images/icons8-whatsapp-48.png" alt="Whatsapp-icon">
        </article>
        
            </div>
         <div class="section-div-redes">
           
            <p>¡Seguinos!</p>
            <section class="section-redes-iconos">
            <a href=""><img src="/images/icons8-instagram-48.png" alt=""></a>
            <a href=""><img src="/images/icons8-facebook-48.png" alt=""></a>
            <a href=""><img src="/images/icons8-instagram-48.png" alt="instagram"></a>
            <a href=""><img src="/images/icons8-facebook-48.png" alt="facebook"></a>
        </section>
            
            </div>
        <div class="section-logo">
            
        <img src="/images/logogecko-removebg-preview.png" alt="logo">
        <p>GeekcoStore</p>
         </div>
        
         
    </section>
        <article class="footer-quienes">
          <span>Nosotros</span>
          <p>Somos un e-commerce donde vas a encontrar todo lo relacionado con videojuegos y series, desde juegos fisicos, consolas y figuras!!.  <br>Hecha con amor por: Alejandro Vera Alexander Ureta Liliana Almirón Gabriel Robles Fernando Ortiz</p>
        </article>
       
    <section class="section-copyright">
        <p>2023-GeekcoStore-Todos los derechos reservados</p>
        <p>Team Owners</p>
    </section>
</footer>