<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head.ejs")%>
<body class="register-body">
    <%-include("../partials/header.ejs")%>
    <main class="register-main-body">
        <div class="form-box">
        <img class="register-logo" src="/images/logo.png" alt="">
        <form action="/" class="register-form" method="post">
            <h2>Registrarse</h2>
            <div class="info-text-form">
            <p>Los campos con "*" son obligatorios"</p>
            </div>
            <div class="input-data">
                <label for="name-user">Nombre</label>
                <input type="text" name="name" id="name-user" minlength="5">
                <span class="asterisk-form">*</span>
            </div>
            <div class="input-data">
                <label for="lastname-user">Apellido</label>
                <input type="text" name="lastname" id="lastname-user" minlength="5">
                <span class="asterisk-form">*</span>
            </div>
            <div class="input-data">
                <label for="email-user">Dirección de correo eléctronico</label>
                <input type="email" name="email" id="email-user">
                <span class="asterisk-form">*</span>
            </div>
            <div class="input-data">
                <label for="direction-user">Domicilio</label>
                <input type="text" name="direction" id="direction-user">
            </div>
            <div class="input-data">
                <label for="password-user">Contraseña</label>
                <input type="password" name="password" id="password-user">
                <span class="asterisk-form">*</span>
            </div>
            <div class="input-data">
                <label for="confirm-password-user">Confirmar contraseña</label>
                <input type="password" name="confirm-password" id="confirm-password-user">
                <span class="asterisk-form">*</span>
            </div>
            <div class="info-text-form">
                <p>Tus datos personales se utilizarán para procesar tu pedido, mejorar tu experiencia en esta web, gestionar el acceso a tu cuenta y otros propósitos.</p>
            </div>
            <div class="input-data">
                <button type="submit">Registrarse</button>
            </div>
            <div class="login-link">
                <p>¿Ya tienes una cuenta?</p>
                <a href="/users/login">Ingresá</a>
            </div>
        </form>
        </div>
    </main>
    <%-include("../partials/footer.ejs")%>
</body>
</html>