
:root{
     --color-violet: #551CA6;
    --color-ligth-violet: #AD2AB4;
    --color-dark-cyan: #0098B6;
    --color-turquoise: #04BFBF;
    --color-midnight-blue: #00001E;
}
/* .background{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
} */

.main_carrito{
    background-image: url("/images/fondo.jpeg");
    background-repeat: no-repeat;
    
    width: 100%;
    background-size: cover;
/*     background-repeat: no-repeat;
    background-size: cover; */
    color: aliceblue;
}



.ul_nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
   
}
.ul_nav li{
    width: 40%;
    background-color: blueviolet;
    margin-bottom: 2%;
    text-align: center;
    border-radius: 10px;
 font-size: 18px;
   width: 80%;

    color:rgb(255, 255, 255)
}
.main_carrito{
    position: relative;
    display: flex;
    flex-direction: column;
    
}
.main_carrito h2{
    text-align: center;
    margin-bottom: 10px;
  /*   -webkit-text-stroke:2px var(--color-midnight-blue) ;  */
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
  text-shadow:
    2px 2px 2px #000,
    -3px 2px 2px #000,
    -3px -3px 0 #000,
    2px -3px 0 #000;
/*    border: 2px solid black; */
    margin-top: 5%;
    font-size: 30px;
/*     position: absolute; */

}


.codigo-descuento{
    text-align: center;
 
    border: black 1px solid;
    width: 80%;
    margin: 0 auto; 
      margin-top: 5%;
    background: linear-gradient( #561ca661,#04bfbf7d );
    margin-bottom:2%;
    width: 80%;
    /* height: 12em; */
    border: #000 2px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.descuentosino p{
    color: black;
    font-weight: bold;
    font-size: 22px;
}
.boleta{
    background-color: rgba(171, 171, 171, 0.6);
    color:var(--color-violet);
/*     height:50%; */
    width:70%;
    margin: 0 auto;
    margin-top: 1%;
    padding: 5%;
    border: #000 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
/*     height: 50px; */
    align-items: center;
}
h4{
    margin-top: 5%;
    margin-bottom: 5%;
}
.boleta p {
    font-size: 11px;
    color: #000;
    font-weight: bold;
/*     height: 2em; */
   
}
.boleta input{
    width: 40%;
}
.boleta label{
    font-size: 8px;
}
.codigo-descuento button{
    margin-top: 3%;
    margin-bottom: 5%;
    
}
#codigo{
    width: 80%;

}
.codigo-button{

    color:var(--color-violet);
    width: 70%;
    margin: 0 auto;
    margin-top: 3%;
    padding: 5%;
    height: 20%;
}
.boton{
    background-color: var(--color-violet);
    width:90%;
    text-align: center;
    margin: auto;
    color: var(--color-turquoise);
    border-radius: 10px;
    padding: 7px;
    border: #551CA6 solid 2px;
    
}

.carrito_section2{
    background:linear-gradient(#ad2ab4d9, #561ca6d5);
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
    justify-content: center;
   
    outline: var(--color-violet) 2px solid
    
}
 .ul_nav3{
    display: flex;
    flex-direction: row;
  justify-content: space-between;
    gap: 10px;
    flex-wrap: nowrap;

   padding:5%;
   width: 100%;
   margin-right: 25px;
}
.ul_nav2{
   
    display: flex;
    flex-direction: row;
     justify-content: space-between;
    gap:15px;
   padding: 5%;
 
 
}
#cantidad{
    width: 60%;
}
.ul_nav3 li{
    /* width: 22%; */
    margin-top: 3%;
 margin-right: 5px;
  width:50%;
   width: 35px;    
    width:80%;
/*    margin-right: 10%; */
}
.ul_nav2 li{
    /* width: 22% */
    margin-top: 3%;
    width: 100%;
     width: 35px;    
      width:80%;
    
}
.ul_nav2 li p{
    font-size: 12px;
    width: 30px;    
    width:100%;
    gap: 10px;
}


.ul_nav3 li p{
    font-size: 12px;
     width: 40px;    
      width:100%;
}
.tidus{
    width:40px;
    width:100%;
    height: 100%;
    border: #000 solid 1px;
    transition: all 450ms;
}
.tidus:hover{
    box-shadow:  0px 0px 10px rgb(57, 5, 179);
    background: #0098b67c;
}
.fa-camera{
   font-size: 30px; 
    width: 100%;
}
.article-nav3{ 
display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    margin-top: 5%;
    background: linear-gradient( #561ca64a,#04bfbf5f );
    width:90%;
  

   
}
.article-nav2{
    display: flex;
    height:50px;
    margin-top: 5%;
    background: linear-gradient( #561ca62d,#04bfbf38 );
    border-radius: 10px;
    /* padding-top: 3%; */
    align-items: center;
    justify-content: center;
    border: #00000052 solid 2px;
    width:90%;
    align-self: center;
   
 

}
.article-nav2{
    display: none;
}
.section-producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     }

     .section-producto article {
        box-shadow:  0px 0px 10px rgb(0, 0, 0);
           border: #04bfbf85 solid 2px;
   }

   #codigo{
    transition: all 400ms;
   }
   #codigo:hover{
background-color: #0098B6;
   }
   #cantidad{
    transition: all 400ms;
   }
   #cantidad:hover{
background-color: #0098B6;
   }
   .boton{
    transition: all 450ms;
}
.boton:hover{
    background-color: rgb(41, 3, 95);
}
.fa-camera{
    transition: all 400ms;
}
.fa-camera:hover{
    transform: rotateZ(-360deg);
}

.boleta {
    transition: all 450ms;
}
.boleta:hover{
    box-shadow:  0px 0px 10px #04bfbf80;
}

.boleta p{
    transition: all 300ms;
}
.boleta p:hover{
    border-radius: 5px;
  background-color: #04bfbf64;
}

.ul_nav li{
    transition:all 400ms;
}
.ul_nav li:hover{
   background-color: #32076f;
}
.ul_nav2 li p{
    transition: all 450ms;
}
.ul_nav2 li p:hover{
    background-color: #0098b679;
    border-radius: 5px;
}
#cantidad{
    width: 60%;
    border-radius: 10px;
    padding-left: 10px;
}
.envios label{
    font-size: 13px;
}
.envios label p{
    margin-top: 5px;
    padding: 5px;
        


}
.envios .envios2 p{
    background-color: #0098b671;

}
.metodos{
     background-color: #0098b671;
}


@media (min-width:768px){
    .carrito_section2{
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .article-nav2{
        display: flex;
        width:100%;
    }
    .article-nav3{
        width: 100%;
    }
    .section-producto {
   width: 65%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 5%;

    }
    .section-codigo{
        width: 30%;
        align-self: center;
    }
    .ul_nav{
        flex-direction: row;
        justify-content: space-around;
    }
    .ul_nav li{
        width: 30%;
    }
    .ul_nav2 li p{
        font-size: 18px;
        width: 30px;    
        width:100%;
        gap: 10px;
    }
    
    
    .ul_nav3 li p{
        font-size: 16px;
         width: 40px;    
          width:100%;
    }
    .boleta p {
        font-size: 16px;
        color: #000;
        font-weight: 600;
    /*     height: 2em; */
       border-bottom: #000 1px solid;
    }
    .boleta input{
        width: 40%;
    }
    .boleta label{
        font-size: 16px;
    }
    #cantidad{
        width: 40%;
    }
    h4{
        font-size: 20px;
    }
}
@media (min-width:1024px){
    #cantidad{
        width: 30%;
    }

    .ul_nav2 li p{
        font-size: 20px;
        width: 30px;    
        width:100%;
        gap: 10px;
    }
    
    
    .ul_nav3 li p{
        font-size: 18px;
         width: 40px;    
          width:100%;
    }
    .boleta p {
        font-size: 16px;
        color: #000;
        font-weight: 600;
    /*     height: 2em; */
       border-bottom: #000 1px solid;
    }
    .boleta input{
        width: 40%;
    }
    .boleta label{
        font-size: 16px;
    }
    #cantidad{
        width: 40%;
    }
    h4{font-size: 20px;}
}