@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pixelify+Sans:wght@400;500;600;700&display=swap');




.footer-body {
    display: flex;
    position: relative;

    flex-direction: column;
    background-image: linear-gradient(#00001e66, #551ca6);
}

.section-redes {
    display: flex;
    justify-content: space-between;
}

.section-redes div {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.section-div-redes {
    display: flex;
    align-items: center;

}

.section-div-redes p {
    font-size: 10px;
    color: white;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: all 500ms;
}

.section-div-redes p:hover {
    font-size: 16px;
}

.section-div-redes a img {
    margin-top: -15px;
    width: 20px;
}

.footer-contacto {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin-top: 5px;
    gap: 5px;
    padding-left: 10px;
}

.footer-contacto a {
    color: white;
    text-decoration: none;

}

.footer-contacto img {
    display: none;
    width: 15px;
}


.footer-contacto a:hover+img {
    display: block;
}

.section-redes-iconos {
    display: flex;
}


.section-logo {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 10px;
    align-items: end;
}


.section-logo img {
    transform: scaleX(-1);
    width: 50px;
}


.section-logo p {
    position: absolute;
    color: white;
    font-family: "Pixelify sans";
    font-size: 8px;
    top: 35px;
}

.footer-iconos {
    display: flex;
    width: 38px;
    border-bottom: 1px solid #04bfbf;
    gap: 3px;
    margin-left: 10px;
}

.footer-quienes {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -10px;
}

.footer-quienes span {
    width: 38px;
    color: white;
    font-size: 10px;
    margin-left: 20px;
    border-bottom: 1px solid #04bfbf;

}

.footer-quienes p {
    color: white;
    display: none;
    font-size: 8px;
    padding: 5px;

}

.footer-quienes span:hover+p {
    display: inline;
}

.section-copyright {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.section-copyright p {
    color: white;
    font-family: "prompt";
    font-size: 8px;
}

@media (min-width: 769px) {
    
}

@media (min-width:480px) {
    
    .footer-contacto{
        align-items: stretch;       
    }

    .footer-contacto a{
        font-size: 16px;      
    }

    .footer-contacto img {
        display: block;
        width: 20px;
    }

    .img-contacto{
        position: relative;
        left: 20px;
    }

    .img-soporte{
        position: relative;
        left: 26px;
    }

    .footer-quienes {
        top: -40px;
    }

    .footer-quienes span{
        font-size: 16px;
    }

    .footer-quienes p{
        display: block;
        font-size: 12px;
        margin-top: 0;
        margin-left: 10px;
    }


    .section-div-redes p {
        font-size: 14px;
    }

    .section-div-redes p:hover {
        font-size: 20px;
    }

    .section-div-redes a img {
        margin-top: 2px;
        width: 40px;
    }

    .section-logo img{
        position: relative;
        width: 100px;
        margin-right: 60px;
        top: -10px;
    }

    .section-logo p{
        font-size: 16px;
        top: 45px;
    }
}