@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pixelify+Sans:wght@400;500;600;700&display=swap");


.section-login {
  background-color: #00001e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-login h1 {
  color: white;
  padding: 0;
  margin: 0;
  position: relative;
  top: 20px;
  font-family: "Pixelify sans";
  font-weight: 400;
  font-size: 40px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #04bfbf;
}

.section-login img {
  transform: scaleX(-1);
  width: 60%;
}

.section-login form {
  background-color: #ad2ab4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px 20px;
  gap: 5px;
  width: 50%;
}

.section-login form h2 {
  margin: 0px;
  color: white;
  font-family: "Prompt";
  font-weight: 400;
}

.section-login form label {
  color: white;
  margin-top: 10px;
  font-family: "Prompt";
}

.section-login form input {
  border-radius: 20px;
  width: 80%;
  height: 25px;
  padding-left: 15px;
}

.section-login form a {
  color: white;
  font-size: 10px;
  text-decoration: none;
  font-family: "Pixelify sans";
  font-weight: lighter;
}

.section-login form button {
  background-color: #04bfbf;
  border-radius: 20px;
  padding: 5px 15px;
  color: white;
  box-shadow: 3px 3px 3px 0px #00001e66;
  font-family: "Pixelify sans";
}
.section-login form button:hover {
  width: 90px;
}
@media (min-width: 480px) {
  .section-login h1 {
    font-size: 70px;
  }
  .logo-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 769px) {
  .section-login img {
    width: 25%;
  }
  .logo-titulo {
    margin-bottom: -100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
  }
  .section-login h1 {
    font-size: 100px;
  }
  .section-login form {
    height: 80vh;
    margin-left: 90px;
  }
  .section-login form input {
    height: 10vh;
  }
  .section-login form a {
    font-size: 30px;
  }
  .section-login form button {
    font-size: 30px;
  }
  .section-login form label {
    font-size: 30px;
  }
  .section-login form h2 {
    font-size: 60px;
  }
  .section-login form button:hover {
    width: 130px;
  }
}
@media (max-width: 480px) {
  .logo-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
