<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head.ejs")%>
<body>
  <%-include("../partials/header.ejs")%>

    <main class="main_carrito">
         <!--     <img class="fondo-carrito" src="/images/fondo-carrito.jpeg" alt=""> -->
      <!--   <img class="background" src="/images/fondo.jpg" alt="background"> -->
    <section> 
        <h2>Mi Compra</h2>
      <nav>
      
        <ul class="ul_nav">
          <li><h4>Mi Carrito</h4></li>
          <li><h4>Envío y Pago</h4></li>
          <li><h4> Verificar y Analizar</h4></li>
        </ul>
      </nav>
    </section>
    <section class="carrito_section2"> 
 

      <!-- le agregue 2 section mas una con 2 articulos y otra con otros 2 articulos
    si en algun momento te trae problemas borralos -->
  <section class="section-producto"> 
    
      <article class ="article-nav2"><nav>
        <ul class="ul_nav2">
          <li>
            <i class="fa-solid fa-camera"></i>
          </li>
          <li><p>
           articulo</p>
          </li>
          <li><p>
            cantidad</p>
          </li>
          <li>
            <p>precio</p>
          </li>
          
        </ul>
      </nav></article>
      <article class="article-nav3"><nav>
        <ul class="ul_nav3">
          <li><img class="tidus" src="/images/FF10.jpg" alt="tidus"></li>
          <li><p> Figura Tidus</p></li>
          <li><input type="number" id="cantidad" min="1"></li>
          <li><p>$50000</p></li>
        </ul>
        <ul class="ul_nav3">
          <li> <img class="tidus" src="/images/crono.jpg" alt="tidus"></li>
          <li><p> Figura Chrono Cross </p></li>
          <li><input type="number" name="" id="cantidad" min="1"></li>
          <li><p>$40000</p></li>
      <!--     <li><p>$40000</p></li> -->
        </ul>
      </nav></article></section>
       
    <section class="section-codigo"> <article class="codigo-descuento">
        <div class="boleta"><form action="/" method="post"><label for="codigo" class="descuentosino"><p>Tenes un codigo de descuento?</p></label>
        <input type="text" name="codigo" id="codigo"></form></div>  
        <div class="envios"><form action="/" method="post"> 
          <label for="envios" class="envios2"><p>Deseas recibirlo por envio?</p></label>
          <label>Si <input type="radio" name="envios" id="envios" value="si"></label>
          <label for="">No <input type="radio" name="envios" id="envios" value="no"></label>
 </form> </div> <!-- <div>
          <label for="pagos"><p class="metodos">Metodos de Pago: </p></label>
          <label ><p>Tarjeta de Credito <input type="radio" name="pagos" id="pagos" value="credito"></p> </label>
          <label ><p>Transferencia Bancaria <input type="radio" name="pagos" id="pagos" value="Transferencia"></p></label>
          <label> <p>Efectivo <input type="radio" name="pagos" id="pagos" value="Efectivo"></p></label>
       

       </div> --> </form>
      <div class="boleta"><p>Subtotal: $40000</p>
      <p>Descuentos: 0$</p>
    <p>Total: $40000</p></div>
      <!-- <div class="codigo-button"> --><button type="submit" class="boton">Continuar</button><!-- </div> -->
    

    <h4>Agregar mas productos</h4>
    </article></section> 
    </section>
      </main>

        
      <%-include("../partials/footer.ejs")%>

</body>
</html>